---
export interface Props {
	fillColor?: string;
}

const { fillColor = 'var(--terminal-bright)' } = Astro.props as Props;
---
<div class="relative w-full h-auto inline-block ml-[-1%]">
    <!-- Glow Effect - positioned behind the main logo -->
    



<svg width="769" height="132" viewBox="0 0 769 132" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M746.625 0.09375L732.282 64.585L768.229 64.5391L761.046 97H690.376L711.911 0.09375H746.625ZM715.922 5.09375L696.609 92H757.031L762 69.5469L726.047 69.5938L740.391 5.09375H715.922Z" fill={fillColor}/>
<path d="M716.561 0.09375L709.741 30.1094H709.717L703.423 59.6875H666.336L665.7 62.4844H702.641L695.052 96.9971L624.19 97.0518L639.037 30.1094H638.892L645.64 0.09375H716.561ZM643.594 32.6562L630.422 92.0469L691.031 92L696.422 67.4844H659.438L662.344 54.6875H699.375L704.062 32.6562H643.594ZM649.641 5.09375L645.141 25.1094H705.75L710.297 5.09375H649.641Z" fill={fillColor}/>
<path d="M543.844 32.5625L530.719 92.0469H553.453L561.516 55.3906V92H579.891L598.125 57.1719L590.344 92H616.312L629.484 32.5625H590.109L578.016 51.2188V32.5625H543.844ZM605.391 5.09375L594.234 25.1562H631.172L635.531 5.09375H605.391ZM549.938 5.09375L545.438 25.1562H578.016L577.969 5.04688L549.938 5.09375ZM583.016 34.3135L585.869 29.9111L602.45 0.09375H641.734L635.202 30.1562H635.139L620.326 97H584.104L584.986 93.0459L582.917 97H557.483L557.473 97.0469H524.495L539.255 30.1562H539.191L545.934 0.100586L582.957 0.0380859L583.027 30.1562H583.016V34.3135Z" fill={fillColor}/>
<path d="M550.662 0.140625L544.436 27.7031H544.44L529.159 97.0469H494.398L495.514 92H496.406L501.797 67.4844H500.937L503.767 54.6875H504.75L509.438 32.6562H508.64L509.214 30.0625H509.196L510.304 25.1094H511.125L515.672 5.09375H514.777L515.885 0.140625H550.662ZM513.75 32.7031L500.625 92.0469H525.141L538.219 32.7031H513.75ZM519.891 5.14062L515.438 25.0625H539.906L544.406 5.14062H519.891Z" fill={fillColor}/>
<path d="M521.936 0.09375L520.789 5.14062H519.891L515.438 25.0625H516.264L515.116 30.1094H515.092L514.54 32.7031H513.75L507.782 59.6875H471.711L471.075 62.4844H507.163L500.625 92.0469H501.516L500.427 96.9971L431.063 97.0498L430.197 94.2002L444.412 30.1094H444.267L451.015 0.09375H521.936ZM448.969 32.6562L435.797 92.0469L496.406 92L501.797 67.4844H464.812L467.719 54.6875H504.75L509.438 32.6562H448.969ZM455.016 5.09375L450.516 25.1094H511.125L515.672 5.09375H455.016Z" fill={fillColor}/>
<path d="M421.018 0.09375L421.284 0.12207L425.644 0.59082L425.654 0.591797L425.109 5.5625L420.75 5.09375H377.531L372.797 24.9688L417 25.1562L418.688 25.6719L420.234 26.7031L420.891 28.1094V29.2812L420.234 30.6875L418.969 31.4844L417.422 32.0938L414.422 32.5156L371.25 32.4688L358.031 92.0938H383.109L391.781 55.3438L414.328 126.359H439.969L418.078 54.3125L427.828 50.1406C435.984 45.4844 440.062 38.2656 440.062 28.4844C440.062 24.7344 439.484 20.6719 438.328 16.2969C436.641 9.92188 432.234 6.34375 425.109 5.5625L425.654 0.591797C429.923 1.0598 433.787 2.41407 436.91 4.9502C439.866 7.35037 441.835 10.5479 442.95 14.2666L443.162 15.0176V15.0195C444.407 19.7286 445.062 24.2252 445.062 28.4844C445.062 39.9688 440.1 48.8916 430.307 54.4824L430.059 54.625L429.795 54.7373L424.164 57.1455L446.714 131.359H410.67L392.491 74.1035L387.066 97.0938H351.802L366.688 29.9424H366.473L373.582 0.09375H421.018Z" fill={fillColor}/>
<path d="M327.996 0.140625L320.123 30.1562H280.134L263.912 48.5664L267.944 64.5938H312.654L305.947 97.0469H242.219L228.557 54.6875H233.811L245.859 92.0469H301.875L306.516 69.5938H264.047L258.422 47.2344L277.875 25.1562H316.266L321.516 5.14062H264.047L239.082 34.3232L239.438 32.6562H233.929L240.385 25.1094H241.125L241.393 23.9307L261.744 0.140625H327.996Z" fill={fillColor}/>
<path d="M251.936 0.09375L246.001 26.2168L245.994 26.2432L239.082 34.3232L239.438 32.6562H178.969L165.797 92.0469L226.406 92L231.797 67.4844H194.812L197.719 54.6875H233.811L235.423 59.6875H201.711L201.075 62.4844H236.325L237.33 65.6016L230.427 96.9971L159.565 97.0518L174.412 30.1094H174.267L181.015 0.09375H251.936ZM185.016 5.09375L180.516 25.1094H241.125L245.672 5.09375H185.016Z" fill={fillColor}/>
<path d="M150.188 0.09375L135.845 64.585L171.792 64.5391L164.608 97H93.9385L95.0498 92H98.3438L97.0967 82.7891L115.474 0.09375H150.188ZM119.484 5.09375L100.172 92H160.594L165.562 69.5469L129.609 69.5938L143.953 5.09375H119.484Z" fill={fillColor}/>
<path d="M90.2725 0.046875L95.123 30.0625H95.0039L102.171 83.002L100.172 92H103.39L104.066 97H65.2988L62.2998 61.8438H61.0225L42.7402 97.0469H0.920898L37.0322 32.8301L37.1357 32.6465L37.2549 32.4717L38.8916 30.0625H37.4385L54.3086 0.046875H90.2725ZM43.0781 32.7969L41.3906 35.2812L9.46875 92.0469H39.7031L57.9844 56.8438H66.8906L69.8906 92H98.3438L90.3281 32.7969H43.0781ZM45.9844 25.0625H89.25L86.0156 5.04688H57.2344L45.9844 25.0625Z" fill={fillColor}/>
</svg>


</div>
